#apple, #orange, #rasp, #pom {
  display: block;
  margin: 0;
  width: 100%;
  margin: 0 auto; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.mobileHidden {
  display: none; }

.mainPost {
  border: 10px solid #FFF;
  float: left;
  position: relative;
  overflow: hidden;
  width: 50%; }
  @media screen and (max-width: 1119px) {
    .mainPost {
      height: 400px;
      width: 100%; } }
  .mainPost .mainPostTexts {
    position: absolute;
    top: 50%;
    width: 40%;
    height: 40%;
    padding: 4%;
    background-color: rgba(239, 2, 255, 0.5); }
    @media screen and (max-width: 1119px) {
      .mainPost .mainPostTexts {
        top: 20%;
        left: 30%;
        padding: 1%; } }
    .mainPost .mainPostTexts .comments {
      float: right;
      color: rgba(255, 255, 255, 0.7);
      font-family: sans-serif; }
    .mainPost .mainPostTexts .mainPostTitle {
      position: absolute;
      top: 15%;
      color: #D9FF00;
      font-size: 2em;
      font-family: sans-serif;
      padding-bottom: 2%;
      border-bottom: 1px solid #D9FF00; }
      @media screen and (max-width: 1119px) {
        .mainPost .mainPostTexts .mainPostTitle {
          margin-left: 20px;
          padding-bottom: 5px; } }
    .mainPost .mainPostTexts .mainPostHeadline {
      position: absolute;
      top: 35%;
      color: #D9FF00;
      font-family: sans-serif; }
      @media screen and (max-width: 1119px) {
        .mainPost .mainPostTexts .mainPostHeadline {
          margin-left: 20px;
          padding-top: 25px; } }
    .mainPost .mainPostTexts .mainPostLink {
      position: absolute;
      top: 55%;
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      font-family: sans-serif; }
      @media screen and (max-width: 1119px) {
        .mainPost .mainPostTexts .mainPostLink {
          margin-left: 20px;
          padding-top: 30px; } }

.subPost {
  float: left;
  position: relative;
  overflow: hidden;
  width: 24.5%;
  border-top: 10px solid #FFF;
  border-right: 10px solid #FFF;
  border-bottom: 10px solid #FFF; }
  .subPost .subPostTexts {
    position: absolute;
    top: 70%;
    width: 100%;
    height: 30%;
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.5); }
    .subPost .subPostTexts .subPostComments {
      float: right;
      color: rgba(255, 255, 255, 0.7);
      font-family: sans-serif; }
    .subPost .subPostTexts .subPostTitle {
      position: absolute;
      top: 25%;
      color: rgba(255, 255, 255, 0.7);
      font-size: 1.5em;
      font-family: sans-serif;
      padding-bottom: 2%; }
    .subPost .subPostTexts .subPostHeadline {
      position: absolute;
      top: 55%;
      color: rgba(255, 255, 255, 0.7);
      font-family: sans-serif; }
    .subPost .subPostTexts .subPostLink {
      float: right;
      padding-right: 2%;
      top: 55%;
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      font-family: sans-serif; }

@media screen and (max-width: 1119px) {
  #mainPost {
    width: 100%; } }

@media screen and (max-width: 1119px) {
  #subPost1 {
    border-top: none;
    border-right: none;
    border-left: 10px solid white;
    clear: both; } }

@media screen and (max-width: 1119px) {
  #subPost2 {
    border-top: none;
    border-right: none;
    border-left: 10px solid white; } }

#subPost3 {
  border-top: none; }
  @media screen and (max-width: 1119px) {
    #subPost3 {
      border-top: none;
      border-right: none;
      border-left: 10px solid white; } }

#subPost4 {
  border-top: none; }
  @media screen and (max-width: 1119px) {
    #subPost4 {
      border-top: none;
      border-right: none;
      border-left: 10px solid white; } }

header {
  overflow: auto;
  background-color: #FAFAFA;
  width: 100%;
  height: 60px;
  padding: 15px; }
  header #logo {
    float: left;
    width: 120px;
    border-right: 1px solid #BDBDBD;
    padding-right: 20px; }
  header .headerContainer {
    font-family: sans-serif;
    color: #BDBDBD; }
  header .tagline {
    float: left;
    padding-top: 9px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px; }
  header .genderAll, header .rss {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    text-decoration: none;
    color: #BDBDBD; }
    header .genderAll:hover, header .rss:hover {
      color: #ff7f7f; }

footer {
  overflow: auto;
  background-color: #FAFAFA;
  width: 100%;
  height: 60px;
  padding: 15px;
  font-family: sans-serif;
  color: #BDBDBD;
  text-align: center; }

#banana {
  display: block;
  margin: 0;
  width: 100%;
  margin: 0 auto; }
  #banana:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer; }

#apple:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer; }

#orange:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer; }

#rasp:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer; }

#pom:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer; }

/*# sourceMappingURL=application.css.map */
