#banana {
  display: block;
  margin: 0;
  width: 100%;
  margin: 0 auto;
  &:hover {
    @include filter(grayscale(100%));
  }
}

#apple {
  @extend %imageInPost;
  &:hover {
    @include filter(grayscale(100%));
  }
}

#orange {
  @extend %imageInPost;
  &:hover {
    @include filter(grayscale(100%));
  }
}

#rasp {
  @extend %imageInPost;
  &:hover {
    @include filter(grayscale(100%));
  }
}

#pom {
  @extend %imageInPost;
  &:hover {
    @include filter(grayscale(100%));
  }
}



// .featuredArticle {
//   img {
//     display: block;
//     width: 100%;
//     margin: auto;
//     @media screen and (min-width: 735px) {
//       display: inline-block;
//       float: right;
//       width: 500px;
//     }
//   }
// }
